<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Vuex</title>
</head>

<body>
    <div id="app">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script>
        const store = new Vuex.Store({
            strict: true,
            state: {
                counter: 0
            },
            getters: {
                counter(state) {
                    return state.counter
                }
            },
            mutations: {
                increment(state, n) {
                    state.counter += n
                },
                decrement(state, n) {
                    state.counter -= n
                }
            },
            actions: {
                increment(context, n) {
                    setTimeout(() => {
                        context.commit('increment', n)
                    }, 4500)
                },
                decrement(context, n) {
                    context.commit('decrement', n)
                },
                mix(context) {
                    setTimeout(() => {
                        context.commit('increment', 7)
                        context.commit('decrement', 3)
                    }, 2500)
                },
            }
        })

        new Vue({
            el: '#app',
            computed: {
                counter: function () {
                    return store.getters.counter
                }
            },
            template: `
                <div>
                    <button @click="decrement(2)"> - </button>
                    {{counter}}
                    <button @click="increment(5)"> + </button>
                    <button @click="rumus"> +/- </button>
                </div>
                `,
            methods: {
                increment(n) {
                    store.dispatch('increment', n)
                },
                decrement(n) {
                    store.dispatch('decrement', n)
                },
                rumus() {
                    store.dispatch('mix')
                }
            }
        })
    </script>

</body>

</html>