<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitMember()">
            <p v-if="errors.length">
                <b>Please correct this/these error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error}} </li>
                </ul>
            </p>
            <label> Name : </label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
            <label> Address : </label><br>
            <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address"
                v-model="address"></textarea><br>
            <label> No. HP : </label><br>
            <input type="integer" name="no_hp" :disabled="buttonStatus == 'upload'" ref="no_hp" v-model="no_hp"><br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
                <input type="button" value="CANCEL" @click="clearSubmition()" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile"><br>
                <input type="button" value="UPLOAD" @click="uploadPhoto(idUploadPhoto)" style="margin-top:5px">
                <input type="button" value="CANCEL" @click="clearSubmition()" style="margin-top:5px">
            </div>

        </form>
        <br><br>
        <table border=1>
            <tr v-for="member of members">
                <td>
                    <img width=100
                        :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'"
                        alt="">
                </td>
                <td>
                    <b>Name : </b> {{member.name}} <br>
                    <b>Address : </b> {{member.address}} <br>
                    <b>No. HP : </b> {{member.no_hp}} <br>
                </td>
                <td>
                    <button @click="editMember(member)"> Edit </button>
                    <button @click="deleteMember(member.id)"> Delete </button>
                    <button @click="updateProfile(member)"> Upload Photo </button>
                </td>
            </tr>
        </table>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                photo_profile: '',
                errors: [],
                members: [],
                formData: [],
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadPhoto: null,
                photoDomain: 'http://demo-api-vue.sanbercloud.com'
            },

            computed: {

            },

            methods: {
                validationSubmit: function () {
                    this.errors = []

                    if (this.name.length < 1) {
                        this.errors.push('Nama harus diisi')
                        this.$refs.name.focus()
                    }

                    if (this.address.length < 1) {
                        this.errors.push('Alamat harus diisi')
                        this.$refs.address.focus()
                    }

                    if (isNaN(this.no_hp) || this.no_hp.length < 1) {
                        this.errors.push('Nomor HandPhone harus diisi dengan angka')
                        this.$refs.no_hp.focus()
                    }
                },

                clearSubmition: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadPhoto = null
                },

                submitMember: function () {
                    this.validationSubmit()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearSubmition()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {

                            })

                    }
                },

                getMembers: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                deleteMember: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editMember: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                updateMember: function (id) {
                    this.validationSubmit()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: "PUT"
                            },
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearSubmition()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                updateProfile: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadPhoto = member.id
                },

                uploadPhoto: function (id) {
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearSubmition()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

            },
            created() {
                this.getMembers()
            }
        })
    </script>
</body>

</html>