<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="searchValue" placeholder="ketikkan kata kunci" id="search-input"></input>
    <br>

    <ul>
        <li v-for="matkul in filteredMatkuls" :key="matkul.name">
            {{matkul.name}}
            <br>
        </li>
    </ul>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            matkuls : [
                {name : 'Kalkulus Dasar'}, 
                {name : 'Fisika Dasar'},
                {name : 'Aljabar Linier Elementer'},
                {name : 'Aljabar Abstrak'},
                {name : 'Algoritma Pemrograman'},
            ],
            searchValue : ''
        },

        computed : {
            filteredMatkuls : function(){
                let tempMatkuls = this.matkuls
                if (this.searchValue !='' && this.searchValue){
                    tempMatkuls = tempMatkuls.filter((matkul)=>{
                        return matkul.name.toUpperCase().includes(this.searchValue.toUpperCase())
                    })
                }
                return tempMatkuls
            }

        },
        
        methods : {
        
        },        
    })
    </script>
    </body>
</html>