<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form v-if="isEditing===true" v-on:submit.prevent="editNama">
        <input v-model="namaEdit" id="nama-edit">
        <button> Update </button>
    </form>
    <form v-else v-on:submit.prevent="addNama">
        <input v-model="newNama" value="user" id="new-nama">
        <button> Add </button>
    </form>
    
    <br><br>
    
    <ul id="app">
        <li v-for="(user, index) in users" :name="user.name" :key="user.id">
            {{user.name}}
            <button onclick="vm.edit(index)"> Edit </button> ||
            <button onclick="vm.notif('Anda Yakin?')"> Delete </button> <br><br>
            
        </li>
    </ul>    
   
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        isEditing : false,
        idSelected : null,
        users : [
            {
                'name' : 'Muhammad Iqbal Mubarak',
            },
            {
                'name' : 'Ruby Purwanti',
            },
            {
                'name' : 'Faqih Muhammad',
            },
        ],

        user : {'name' : ''},
      },
      
      methods : {
        
        addNama : function(){
            this.users.push({name : this.newNama})
            this.newNama = ''
        },
        edit : function(){
            this.newNama = this.users[id].name
            this.isEditing = true
            },
        editNama : function(id){
            /*this.users.splice(1,1,{name : this.namaEdit})*/
            this.users[this.idSelected].name = this.namaEdit
            this.namaEdit = ''
            this.idSelected = id
        },
        notif(isConfirm){
            confirm(isConfirm).then(()=>{
            this.users.splice(id,1)
            }).catch(()=>{
            })
        },
    },
        
  })
  </script>
</body>
</html>